<%# PCレイアウト %>
<div class="d-none d-md-block">
  <% groups.each do |group| %>
    <%= link_to group_path(group), class: "text-decoration-none text-dark" do %>
      <div class="card mb-3">
        <div class="card-header bg-secondary text-white">
          <h5 class="m-0"><%= group.name %></h5>
        </div>
        <div class="card-body">
          <p class="card-text"><%= group.description.truncate(25) %></p>
          <p class="card-text">メンバー数：<%= group.group_users.count %></p>
          <p class="card-text">作成日時：<%= l(group.created_at, format: :long) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%# スマホレイアウト %>
<div class="d-md-none">
  <% groups.each do |group| %>
    <%= link_to group_path(group), class: "text-decoration-none text-dark" do %>
      <div class="card row mb-2">
        <div class="text-secondary card-header py-1 bg-secondary">
          <p class=" text-white m-0"><%= group.name %></p>
        </div>
        <span class="col-9 mt-1"><%= group.description.truncate(20) %></span>
        <div class="col-12 mt-1">メンバー数：<%= group.group_users.count %></div>
        <div class="col-12 mt-1 mb-1">作成日時：<%= l(group.created_at, format: :long) %></div>
      </div>
    <% end %>
  <% end %>
</div>