<div class="container mt-3">
  <div class="row">
    <div class="col-12 text-center">
      <h1><%= @group.name %></h1>
    </div>
  </div>
  <div class="row mt-3">
    <%# PCレイアウト %>
    <div class="col-3 mt-4 px-0 d-none d-md-block">
      <div class="card">
        <div class="card-header text-center">
          グループ詳細情報
        </div>
        <div class="card-body">
          <p class="mb-0"><strong>グループ名</strong></p>
          <div><%= @group.name %></div>
          <p class="mb-0 mt-3"><strong>説明</strong></p>
          <div><%= simple_format(@group.description) %></div>
          <p class="mb-0 mt-3"><strong>作成日</strong></p>
          <div><%= l(@group.created_at, format: :long) %></div>
          <p class="mb-0 mt-3">メンバー数</p>
          <div><%= link_to @group.group_users.count, group_group_users_path(@group), class: "text-secondary" %></div>
        </div>
        <% if @group.owner == current_user %>
          <div class="card-footer d-flex justify-content-between">
            <%= link_to "編集", edit_group_path(@group), class: "btn btn-secondary" %>
            <%= link_to "削除", group_path(@group), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
          </div>
        <% else %>
          <div class="card-footer text-center">
            <% if @group.user_joined?(current_user) %>
              <%= link_to "退会する", group_leave_path(@group), method: :delete, data: { confirm: "本当に退会しますか？" }, class: "btn btn-danger" %>
            <% else %>
              <%= link_to "参加する", group_join_path(@group), method: :post, class: "btn btn-success" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-8 offset-1 d-none d-md-block">
      <% @posts.each do |post| %>
        <%= render 'common/post_card', post: post, bookmark: @bookmark %>
      <% end %>
    </div>
    <%# スマホレイアウト %>
    <div class="card col-12 d-md-none p-0">
      <div class="card-header text-center">
        グループ詳細情報
      </div>
      <div class="card-body">
        <p class="mb-0"><strong>グループ名</strong></p>
        <div><%= @group.name %></div>
        <p class="mb-0 mt-3"><strong>説明</strong></p>
        <div><%= simple_format(@group.description) %></div>
        <p class="mb-0 mt-3"><strong>作成日</strong></p>
        <div><%= l(@group.created_at, format: :long) %></div>
        <p class="mb-0 mt-3">メンバー数</p>
        <div><%= link_to @group.group_users.count, group_group_users_path(@group), class: "text-secondary" %></div>
      </div>
      <div class="card-footer d-flex justify-content-end">
      <% if @group.owner == current_user %>
        <%= link_to "編集", edit_group_path(@group), class: "btn btn-secondary mr-3" %>
        <%= link_to "削除", group_path(@group), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
      <% else %>
        <% if @group.user_joined?(current_user) %>
          <%= link_to "退会する", group_leave_path(@group), method: :delete, data: { confirm: "本当に退会しますか？" }, class: "btn btn-danger mr-3" %>
        <% else %>
          <%= link_to "参加する", group_join_path(@group), method: :post, class: "btn btn-success" %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<div class="d-md-none">
  <% @posts.each do |post| %>
    <%= render 'common/post_card', post: post, bookmark: @bookmark %>
  <% end %>
</div>