<% content_for :css do %>
  <%= stylesheet_link_tag 'public/registrations_sessions/new', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= form_with(model: resource, url: registration_path(resource_name), local: true) do |f| %>
<%= render "public/shared/error_messages", resource: resource %>
  <div class="container mt-5">
    <div class="row">
      <div class="col-6 offset-3 text-center">
        <h2 class="sign-up-title">登録情報の編集</h2>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-3 offset-3">
        <%= f.label :profile_image, "画像", class: "label" %>
      </div>
      <div class="col-3">
        <%= f.file_field :profile_image %>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col-3 offset-3">
        <%= f.label :name, "ユーザーネーム", class: "label" %>
      </div>
      <div class="col-3">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-3 offset-3">
        <%= f.label :email, "メールアドレス", class: "label" %>
      </div>
      <div class="col-3">
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-3 offset-3">
      <%= f.label :prefecture, "お住まいの地域(都道府県)", class: "label" %>
      </div>
      <div class="col-3">
      <%= f.text_field :prefecture %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-3 offset-3">
      <%= f.label :city, "お住まいの地域(市区町村)", class: "label" %>
      </div>
      <div class="col-3">
      <%= f.text_field :city %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-3 offset-3">
      <%= f.label :town, "お住まいの地域(町名まで)", class: "label" %>
      </div>
      <div class="col-3">
      <%= f.text_field :town %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-3 offset-3">
        <%= f.label :password, "新しいパスワード", class: "label" %>
        <% if @minimum_password_length %>
          <em class="label">(<%= @minimum_password_length %>文字以上)</em>
        <% end %>
      </div>
      <div class="col-3">
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-3 offset-3">
        <%= f.label :password_confirmation, "新しいパスワード（確認用）", class: "label" %>
      </div>
      <div class="col-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-3 offset-3">
        <%= f.label :current_password, "現在のパスワード", class: "label" %>
      </div>
      <div class="col-3">
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-6 offset-3 text-center">
        <div class="actions">
          <%= f.submit "更新", class: "btn btn-sign-up" %>
        </div>
      </div>
    </div>

    <div class="row mt-3 mb-5">
      <div class="col-6 offset-3 text-center">
        <%= link_to "退会する", user_path(current_user), method: :delete, data: { confirm: "本当に退会しますか？" }, class: "btn btn-danger" %>
        <%= link_to "戻る", mypage_users_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
<% end %>