<% content_for :css do %>
  <%= stylesheet_link_tag 'public/registrations/new', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= form_with(model: resource, url: registration_path(resource_name), local: true) do |f| %>
<%= render "public/shared/error_messages", resource: resource %>
  <div class="container mt-5">
    <div class="row">
      <div class="col-6 offset-3 text-center">
        <h2 class="sign-up-title">新規登録</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-3 offset-3">
        <%= f.label :name, "ユーザーネーム", class: "label" %>
      </div>
      <div class="col-3">
        <%= f.text_field :name, placeholder: "地域太郎"%>
      </div>
    </div>

      <div class="row mt-3">
        <div class="col-3 offset-3">
        <%= f.label :email, "メールアドレス", class: "label" %>
        </div>
        <div class="col-3">
        <%= f.email_field :email, placeholder: "chiiki@example.com" %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-3 offset-3">
        <%= f.label :prefecture, "お住まいの地域(都道府県)", class: "label" %>
        </div>
        <div class="col-3">
        <%= f.text_field :prefecture, placeholder: "東京都" %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-3 offset-3">
        <%= f.label :city, "お住まいの地域(市区町村)", class: "label" %>
        </div>
        <div class="col-3">
        <%= f.text_field :city, placeholder: "港区" %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-3 offset-3">
        <%= f.label :town, "お住まいの地域(町名まで)", class: "label" %>
        </div>
        <div class="col-3">
        <%= f.text_field :town, placeholder: "六本木" %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-3 offset-3">
        <%= f.label :password, class: "label" %>
        <% if @minimum_password_length %>
        <em class="label">(<%= @minimum_password_length %>文字以上)</em>
        <% end %>
        </div>
        <div class="col-3">
        <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-3 offset-3">
        <%= f.label :password_confirmation, class: "label" %>
        </div>
        <div class="col-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-6 offset-3 text-center">
        <div class="actions">
          <%= f.submit "登録", class: "btn btn-sign-up" %>
        </div>
        </div>
      </div>

      <div class="row mt-3 mb-5">
        <div class="col-6 offset-3 text-center">
          すでにアカウントをお持ちですか？<%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
<% end %>