<div class="container mt-5">
  <div class="row">
    <div class="col-3 text-center">
      <%= image_tag user.get_profile_image(100, 100), class: "mr-4" %>
      <strong><%= user.name %></strong>
      <table class="table table-borderless mt-3">
        <tr class="border-bottom">
          <th>地域</th>
          <td><%= @user.prefecture %></th>
        </tr>
        <% if @user.is_public == true %>
          <tr>
            <th class="align-middle">詳細地域</th>
            <td class="d-flex flex-column align-items-center">
                <span class="mb-2"><%= @user.city %></span>
                <span><%= @user.town %></span>
            </td>
          </tr>
        <% else %>
          <tr>
            <th class="align-middle">詳細地域</th>
            <td class="d-flex flex-column align-items-center">
              非公開
            </td>
          </tr>
        <% end %>
      </table>
      <div class="d-flex justify-content-start align-items-center ml-4 mb-3">
        <i class="fa-solid fa-bookmark"></i><%= link_to "ブックマークリスト", user_bookmarks_path(@user), class: "ml-3 text-dark" %>
      </div>
      <div class="d-flex justify-content-start align-items-center ml-4">
        <i class="fa-solid fa-user"></i><%= link_to "所属グループ", groups_path, class: "ml-3 text-dark"%>
      </div>
      <% if user == current_user %>
        <%= form_with model: user, url: user_path(user), method: :patch do |f| %>
          <% if user.is_public == false %>
            <div class="d-flex justify-content-start align-items-center ml-4 mt-3">
              <%= f.hidden_field :is_public, value: true %>
              <i class="fa-solid fa-unlock mr-3"></i>
              <button type="submit" class="btn btn-link text-dark" style="padding: 0">
                 地域を公開にする
              </button>
            </div>
          <% else %>
            <div class="d-flex justify-content-start align-items-center ml-4 mt-3">
              <%= f.hidden_field :is_public, value: false %>
              <i class="fa-solid fa-lock mr-3"></i>
              <button type="submit" class="btn btn-link text-dark" style="padding: 0">
                 詳細地域を非公開にする
              </button>
            </div>
          <% end %>
        <% end %>
        <div class="d-flex justify-content-start align-items-center mt-3 ml-4">
          <i class="fa-solid fa-gear"></i><%= link_to "登録情報編集", edit_user_registration_path, class: "ml-3 text-dark" %>
        </div>
      <% end %>
    </div>
    <div class="col-8 offset-1">
      <% posts.each do |post| %>
        <div class="card mb-4">
          <div class="card-header">
            <span class="category-item d-inline-block text-center" data-category="<%= post.category_before_type_cast %>">
              <%= post.category_i18n %>
            </span>
            <strong class="ml-3"><%= link_to post.title, post_path(post), class: "text-dark" %></strong>
          </div>
          <div class="card-body height">
            <p class="card-text"><%= post.content %></p>
          </div>
          <div class="card-footer text-muted">
            <%= l(post.created_at, format: :long) %>
          </div>
        </div>
      <% end %>
      <div class="d-flex justify-content-center align-items-center">
        <%= paginate posts %>
      </div>
    </div>
  </div>
</div>
