<%= content_for :css do %>
  <%= stylesheet_link_tag 'public/posts/posts', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container mt-5">
  <div class="row">
    <div class="col-3 text-center">
      <%= render 'common/user_information', user: @user %>
    </div>
    <div class="col-8 offset-1">
      <div class="row">
        <div class="col-12">
          <%= render 'common/user_posts', posts: @posts %>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'posts/category_switch' %>