<% if public_namespace? %>
  <div class="container">
    <div class="row">
      <div class="col">
        <%= link_to posts_path, class: "text-decoration-none" do %>
          <i class="fa-solid fa-house"></i>
          <span class="logo-title">RealShare</span>
        <% end %>
      </div>
      <div class="d-flex align-items-center align-middle nav-box">
        <nav class="navbar navbar-expand-lg custom-navbar">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <% if user_signed_in? %>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <%= link_to 'Top', root_path, class: "nav-link btn" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'マイページ', mypage_users_path, class: "nav-link btn" %>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  各種一覧
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><%= link_to 'ユーザー', users_path, class: "dropdown-item" %></li>
                    <li><%= link_to '投稿', posts_path, class: "dropdown-item" %></li>
                    <li><%= link_to 'グループ', groups_path, class: "dropdown-item" %></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <%= link_to "新規投稿", new_post_path, class: "nav-link btn" %>
                </li>
                <li class="nav-item">
                  <%= link_to "グループ作成", new_group_path, class: "nav-link btn" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link btn" %>
                </li>
              </ul>
            </div>
            <% end %>
        </nav>
      </div> 
    </div>
  </div>
<% elsif admin_namespace? %>
  <div class="container">
    <div class="row">
      <div class="col">
        <%= link_to admin_top_path, class: "text-decoration-none" do %>
          <i class="fa-solid fa-house"></i>
          <span class="logo-title">RealShare</span>
        <% end %>
      </div>
      <div class="d-flex align-items-center align-middle nav-box">
        <nav class="navbar navbar-expand-lg custom-navbar">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <%= link_to 'Top', admin_top_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to '通報一覧', admin_notices_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ユーザー一覧", admin_users_path, class: "nav-link" %>
              </li>
              <% if admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "ログイン", new_admin_session_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div> 
    </div>
  </div>
<% end %>