<% if public_namespace? %>
  <div class="container">
    <div class="row">
      <div class="col">
        <%= link_to root_path, class: "text-decoration-none" do %>
          <i class="fa-solid fa-house"></i>
          <span class="logo-title">RealShare</span>
        <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="menu-btn">
        <i class="fa fa-bars"></i>
      </div>
      <div class="menu">
        <div class="menu__item">
          <%= link_to 'Top', root_path %>
        </div>
        <div class="menu__item">
          <%= link_to 'Mypage', mypage_users_path %>
        </div>
        <div class="menu__item">
          <%= link_to 'Users', users_path %>
        </div>
        <div class="menu__item">
          <%= link_to 'Posts', posts_path %>
        </div>
        <div class="menu__item">
          <%= link_to 'Groups', groups_path %> 
        </div>
        <div class="menu__item">
          <%= link_to "NewPost", new_post_path %>
        </div>
        <div class="menu__item">
          <%= link_to "NewGroup", new_group_path %>
        </div>
        <div class="menu__item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% else %>
      <div class="menu-btn">
        <i class="fa fa-bars"></i>
      </div>
      <div class="menu">
        <div class="menu__item">
          <%= link_to 'Top', root_path %>
        </div>
        <div class="menu__item">
          <%= link_to "Login", new_user_session_path %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
<% elsif admin_namespace? %>
  <div class="container">
    <div class="row">
      <div class="col">
        <%= link_to admin_top_path, class: "text-decoration-none" do %>
          <i class="fa-solid fa-house"></i>
          <span class="logo-title">RealShare</span>
        <% end %>
      </div>
      <div class="menu-btn">
        <i class="fa fa-bars"></i>
      </div>
      <div class="menu">
        <div class="menu__item">
          <%= link_to 'Top', admin_top_path %>
        </div>
        <div class="menu__item">
          <%= link_to '通報一覧', admin_notices_path %>
        </div>
        <div class="menu__item">
          <%= link_to "ユーザー一覧", admin_users_path %>
        </div>
        <% if admin_signed_in? %>
          <div class="menu__item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="menu__item">
            <%= link_to "ログイン", new_admin_session_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script>
  //クリックイベントでis-activeクラスを追加
  $(document).ready(function() {
  // メニューボタンをクリックしてメニューを開閉
  $('.menu-btn').on('click', function() {
    $('.menu').toggleClass('is-active');
  });
  
  // どこをクリックしてもメニューを閉じる
  $(document).on('click', function(e) {
    // メニューとメニューボタン以外をクリックした場合でも閉じる
    if (!$(e.target).closest('.menu, .menu-btn').length) {
      $('.menu').removeClass('is-active');
    } else if ($(e.target).closest('.menu').length) {
      // メニュー内をクリックした場合も閉じる
      $('.menu').removeClass('is-active');
    }
  });
});
</script> 